* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f7f5fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px;
    color: #4a4a4a;
    width: 100%; /* Adicionei isso para garantir que o rótulo ocupe toda a largura */
}

input {
    width: 100%; /* Adicionei isso para garantir que todos os campos tenham a mesma largura */
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #b78ce7;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7e57c2;
    color: #fff;
    border: 1px solid #692c8a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #692c8a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}